{% extends 'layout.html.twig' %}

{% block content %}
    <div class="div-titre-home">
        <p class="titre-home">Horror Academy</p>
    </div>
    <div class="buttonHome">
        <a href="../Clan/clan">
            <button type="button" class="btn btn-outline-danger btn-lg">Become a Monster !</button>
        </a>
    </div>
{% endblock %}
