h1, h2, h3, h4, h5 {
    font-family: 'Creepster', cursive;
}

.row {
    margin-bottom: 2em;
}

.bodyClan {
    background: url(/assets/images/knif.jpg)no-repeat center fixed;
    background-size: cover;
}

.jumbotron-fluid {
    opacity: 90%;
    background-color: darkred;
}

.card {
    opacity: 90%;
}

.card:hover {
    opacity: 100%;
}

p {
    color: white;
}

.jumbotron {
    animation-duration: 3s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}
