.bodyFilm {
    background: url(/assets/images/wall-zombie.jpg) no-repeat center fixed;
    background-size: cover;
}

h1{
    color:red;
    padding-bottom:1em;
}

.row{
    padding-top:3em;
}

.card{
    opacity: 90%;
}

.jumbotron{
    opacity: 90%;
    background-color: darkred;
}

.lead{
    color:white;
}

p{
    color:black;
}