{% extends 'layoutWithNav.html.twig' %}

{% block content %}
    <section>
        <div class="container-fluid">
            <div class="row justify-content-around">
                <div class="col-lg-3 align-self-center">
                    <img src="https://via.placeholder.com/250" alt="poster" class="img-thumbnail">
                </div>
                <div class="col-lg-6">

                    <div class="card">
                        <div class="card-body">
                            <div class="filmTrack">
                                <h2>Titre du film</h2>
                            </div>
                            <h4>Réalisateur :</h4>
                            <p>Nom du real</p>
                            <h4>Année :</h4>
                            <p>19xx</p>
                            <h4>Résumé :</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <div class="jumbotron jumbotron-fluid">
                        <div class="container">
                            <h3 class="display-4">Cas pratique</h3>
                            <p class="lead">Tes premiers pas : mets en pratique ce que tu as appris dans le film. Pour être validé, Poste le lien vers ta nouvelle solution</p>
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="htpp..." aria-label="Recipient's username" aria-describedby="basic-addon2">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" type="button">Envoyer</button>
                                </div>
                            </div
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

{% endblock %}
