{% extends 'layoutWithNav.html.twig' %}

{% block content %}
    <section class="bodyFilm">
        <div class="container-fluid">
            <div class="row justify-content-around">
                <div class="col-lg-3 align-self-center">
                    <img src="{{monfilm.posterUrl}}" alt="poster" class="img-thumbnail">
                </div>
                <div class="col-lg-6">

                    <div class="card">
                        <div class="card-body">
                            <div class="filmTrack">

                                <h1>{{ monfilm.title }}</h1>

                            </div>
                            <h4>Réalisateur :</h4>
                            <p>{{ monfilm.director }}</p>
                            <h4>Année :</h4>
                            <p>{{ monfilm.year }}</p>
                            <h4>Résumé :</h4>
                            <p>Vous allez en prendre plein les yeux !! Vous allez pleurer vos mères ! Survivre ou mourrir, le choix est facile à faire, alors n'hésitez plus ! C'est eux où nous ! <b>Alors retrouve la citation...</b></br> Ca va trancher chérie ! Que la partie commence ! Un deux Freddy te coupera en deux ! REDRUM ! Je fais le mal, je suis désolé ça ne s'arrêtera pas ! On flotte tout en bas ! Je vois des gens morts ! Que la partie commence ! Quel est ton film d'horreur préféré !</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <div class="jumbotron jumbotron-fluid">
                        <div class="container">
                            <h3 class="display-4">Cas pratique</h3>
                            <p class="lead">Tes premiers pas : mets en pratique ce que tu as appris dans le film. Pour recevoir une validation, filme-toi et poste un lien vers ta nouvelle solution...</p>
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="htpp..." aria-label="Recipient's username" aria-describedby="basic-addon2">
                                <div class="input-group-append">
                                    <a href="../Weapon/weapon.html.twig">
                                    <button class="btn btn-dark" type="button ">Envoyer</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

{% endblock %}
