{% extends 'layoutWithNav.html.twig' %}

{% block content %}
    <section class="bodyFilm">
        <div class="container-fluid">
            <div class="row justify-content-around">
                <div class="col-lg-3 align-self-center">
                    <img src="{{monfilm.posterUrl}}" alt="poster" class="img-thumbnail">
                </div>
                <div class="col-lg-6">

                    <div class="card">
                        <div class="card-body">
                            <div class="filmTrack">

                                <h1>{{ monfilm.title }}</h1>

                            </div>
                            <h4>Director:</h4>
                            <p>{{ monfilm.director }}</p>
                            <h4>Year:</h4>
                            <p>{{ monfilm.year }}</p>
                            <h4>Brief:</h4>
                            <p><b>Find the quote...</b></br>"It's alive! It's alive!" "Listen to them. Children of the night. What music they make." "Be afraid. Be very afraid." "Here's Johnny!" "A censor once tried to test me. I ate his liver with some fava beans and a nice chianti." "This is not a dream! This is really happening!" "One, two, Freddy's coming to you..." "What an excellent day for an exorcism." "I'm scared to close my eyes, I'm scared to open them! We're gonna die out here!" "They're coming to get you, Barbara!" "I'm your number one fan." </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <div class="jumbotron jumbotron-fluid">
                        <div class="container">
                            <h3 class="display-4">Case</h3>
                            <p class="lead">Your first steps : put in practice what you have learned in the movie. To receive a validation, make a movie of your murder and post the link of your new solution...</p>
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="htpp..." aria-label="Recipient's username" aria-describedby="basic-addon2" required>
                                <div class="input-group-append">
                                    <a href="../../Weapon/weapon">
                                    <button class="btn btn-dark" type="button">Send</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </section>

{% endblock %}
